<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Névjegyek</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="main">Névjegyek</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        {% if currentUser.username %}
        <ul class="nav navbar-nav">
            <li><a href="create">Új névjegy</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a href="own">Saját névjegyek</a></li>
        </ul>
        {% endif %}

        <div class="nav navbar-right">
            {% if currentUser.username %}
            <ul class="nav navbar-nav">
                <li><a>Bejelentkezve: {{ currentUser.username }}</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="logout">Kilépés</a></li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav">
            <li><a href="login">Belépés</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="signup">Regisztráció</a></li>
            </ul>
            {% endif %}
        </div>
        </div>
    </div>
    </nav>
    {% block tartalom %}{% endblock %}
</body>
</html>
